<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<style>
			body {
				background-repeat: no-repeat;
				background-position: left top;
				background-size: cover;
			}
		</style>
		<title>Spark App</title>
		<meta charset="UTF-8"/>
	</head>
	<body>
		<body background="images/texture.png"/>
		<image src="images/spark_logo.png" style="width: 35%;height: 35%;"/>
		<div style="background:white;width:200px;height:100px;position:relative;left:225px;">
			<p>Name: </p>
			<p>Age: </p>
			<p>Gender: </p>
		</div>
	<center>
		<p>
			<a href="/scope"><img src="images/scope_button.png" style="width: 27%;height: 27%;"/></a>
			<input type="image" src="images/spark_up_button.png" style="width: 35%;height: 100%;"/>
		</p>
	</center>
</body>
</html>





